<% provide(:title, "マイページ") %>
<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
		<h2 class="head-line text-center title_h2">マイページ</h2>
		<p><strong class="information-link"><i class="far fa-user"></i>登録情報</strong>
			<%= link_to " 編集する", edit_user_path(current_user), class: "glyphicon glyphicon-pencil btn btn-success" %>
		</p>

			<table class="table table-bordered table-condensed" >
				<tbody>
					<tr>
						<td class="info col-xs-2">ユーザー名</td>
						<td class="text-left"><%= @user.name %></td>
					</tr>
					<tr>
						<td class="info">メールアドレス</td>
						<td class="text-left"><%= @user.email %></td>
					</tr>
				</tbody>
			</table>
	</div>
</div>